
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.contact {
	.contact-email {
		font-size: 2.25rem;
		font-family: $heading-font;
		font-weight: 400;
		color: $primary;
		line-height: 4rem;
		margin-bottom: 0;
	}

	.title-line {
		border-left: 0.281rem solid $theme-color;
		margin-bottom: 4.172rem;
	}

	.contact-title {
		position: relative;
		top: -0.5rem;
		font-family: $heading-font;
		font-size: $h1-font-size;
		font-weight: 700;
		color: $topbar-color;
		line-height: 0.9;
		padding-left: 3.75rem;
		margin-bottom: 0rem;
	}

	.contact-subtitle {
		font-size: 0.875rem;
		font-family: $heading-font;
		font-weight: 700;
		color: #2d2b29;
		margin-top: 1.781rem;
		margin-bottom: 1.593rem;
	}
}

.feedback {
	input {
		color: $body-color;
		background-color: $third-color;
	}

	button {
		background-color: $third-color;
		
		i {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
}

.header-product {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 16.172%;
	z-index: 1;
	// opacity: 1;
	@media (max-width: 1444px) {
		// opacity: 0;
		display: none;
	}
}

.form-label {
	margin-bottom: 0;
	@include font-size($form-label-font-size);
	font-style: $form-label-font-style;
	font-weight: $form-label-font-weight;
	color: $form-label-color;
	line-height: 2.812rem;
}

.ribbon-mark {
	display: flex;
	align-items: center;
	.ribbon-title {
		font-family: $heading-font;
		font-weight: 600;
		font-size: 7.661rem;
		line-height: 1;
		height: 7.969rem;
		@include media-breakpoint-down(md) {
			font-size: 4rem;
			height: 4.16rem
		}
	}
	.ribbon-detail {
		position: relative;
		.ribbon-content {
			position: absolute;
			font-family: $heading-font;
			font-weight: 600;
			font-size: 1.93rem;
			line-height: 1.25;
			padding: 1.5rem 2.343rem 1.5rem;
			height: 7.969rem;
			width: 21.094rem;
			top: 0;
			left: 0;
			background-image: url(../images/icons/ribbon_icon.png);
			background-repeat: no-repeat;
			background-size: 100%;
			@include media-breakpoint-down(md) {
				font-size: 1rem;
				padding: 0.783rem 1.223rem 0.783rem;
				height: 4.16rem;
				width: 11.013rem;
			}
		}
	}
}

.footer-img {
	width: 100%;
	height: 14.75rem;
}