
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;
	margin-bottom: 2.5rem;

	&:hover {
		.category-image {
			position: relative;

			&::after {
				opacity: .5
			}
		}

		.category-desc {
			color: $theme-color;

			i {
				color: $theme-color;
			}
		}

		.category-reload {
			opacity: 1;
		}
	}

	.category-image {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: white;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}
	}

	.category-desc {
		display: flex;
		flex-direction: row;
		position: absolute;
		bottom: 1.547rem;
		left: 1.5rem;
		font-family: $body-font;
		font-size: 0.809rem;
		font-weight: 400;
		line-height: 1.125rem;
		display: flex;
		flex-flow: row wrap;
		padding-right: 2.109rem;
		z-index: 2;
		i {
			color: #d2d4e2;
			margin-left: 1.078rem;
			@include transition(all 0.3s ease-in-out);
		}

		@include transition(all 0.3s ease-in-out);
	}

	.category-reload {
		position: absolute;
		top: 50%;
		left: 50%;		
		background-color: transparent;
		text-align: center;		
		opacity: 1;
		@include transition(all 0.3s ease-in-out);
		@include translate3d(-50%, -50%, 0);

		@media (min-width: 992px) {
			opacity: 0;
		}
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	position: relative;
	font-family: $body-font;
	line-height: 1 !important;

	.product-image {
		position: relative;
		text-align: center;

		a {
			display: inline-block;
			width: 100%;
			position: relative;
		}

		> a:nth-of-type(2) {
			background-color: $white;
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include transition(all 0.3s ease-in-out);
		}

		&:hover {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	.product-details {
		margin-bottom: 2.812rem;
	}

	.product-title {
		color: $topbar-color;	
		font-family: $heading-font;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1;
		display: inline-block;

		position: absolute;
		bottom: 4.64rem;
		left: 2rem;
	}


	.product-link {
		position: absolute;
		bottom: 1.547rem;
		left: 1.5rem;
		font-family: $body-font;
		font-size: 0.809rem;
		font-weight: 400;
		line-height: 1.125rem;
		display: flex;
		flex-flow: row wrap;
		padding-right: 2.109rem;
		z-index: 2;
		i {
			color: #d2d4e2;
			margin-left: 1.078rem;
		}

		@include transition(all 0.3s ease-in-out);

		&:hover {
			color: $theme-color;
		}

	}

	.add-to-wishlist {
		position: absolute;
		top: 1.256rem;
		right: -0.234rem;
		line-height: 1.594rem;
		
		a{
			margin-right: 1.078rem;
			i {
				color: #d2d4e2;
			}
		}
	}

	.product-price {
		font-family: $heading-font;
		font-size: 1.875rem;
		font-weight: 600;
		line-height: 1;
		display: flex;
		align-items: center;
		
		position: absolute;
		bottom: 2.156rem;
		left: 2rem;

		del {
			font-family: $heading-font;
			font-size: 0.875rem;
			font-weight: 600;
			color: #9194ac;
			line-height: 1.875rem;
			display: flex;
			align-items: center;
			margin-left: 1rem;
		}
	}

	.product-info {
		color: rgba($theme-color, 0.5);
	}

	.product-categories {
		a {
			color: #9194ac;
			font-family: $body-font;
			font-size: 0.609375rem;
			font-weight: 400;
			line-height: 1;
			
			position: absolute;
			bottom: 4.7rem;
			right: 2rem;
		}
	}


	.text-theme { color: #7855b9 !important; }
	.text-home { color: #9194ac !important; }

	.onbest { 
		background-color: #43c7c7; 
		
		&:after {
			color: #43c7c7;
		}
	}
	.onsale { 
		background-color: #7855b9; 

		&:after {
			color: #7855b9;
		}
	}
	.onnew { 
		background-color: #4f547a; 

		&:after {
			color: #4f547a;
		}
	}

	.onsale, .onbest, .onnew {
		position: absolute;
		top: 1.266rem;
		left: 0;
		color: white;
		font-family: $heading-font;
		font-size: 0.867rem;
		font-weight: 600;
		display: inline-block;
		width: 3.375rem;
		height: 1.594rem;
		line-height: 1.594rem;
		text-align: center;
		z-index: 2;

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			transform: rotate(0deg) skew(0deg); 
			border-bottom: 0.797rem solid;
			border-top: 0.797rem solid;
			border-right: 0.469rem solid transparent;
			left: 3.35rem;
			top: 0rem;
		}
	}

	.add-to-cart {
		position: absolute;
		bottom: 2.578rem;
		right: 2.297rem;

		color: $primary;
		display: inline-block;

		i {
			font-size: 1.2rem;
		}
	}
}


.ads {
    position: relative;
    display: block;
	margin-bottom: 1.5rem;

    .ads-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ads-bg-img {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
			border-radius: 0.75rem;;
        }
    }

    .ads-body {
        position: relative;
        z-index: 1;
		padding: 1.25rem 3rem;

		h1 {
			font-family: $heading-font;
			font-weight: 600;
			font-size: 8.251rem;
			line-height: 1;
			margin-bottom: 0.5rem;
		}
		
		h2 {
			font-family: $heading-font;
			font-weight: 600;
			font-size: 2.25rem;
			line-height: 1;
			margin-bottom: 0.5rem;
		}

		@include media-breakpoint-down(md) {
			h1 {
				font-size: 6rem;
			}

			h2 {
				font-size: 1.636rem;
			}
		}
    }
}
