
/* ----------------------------------------------------------------

	topbar.scss

-----------------------------------------------------------------*/

#top-bar {
	background-color: $heading-color;
	position: relative;
	height: $topbar-height;
	line-height: $topbar-line-height;
	font-size: 0.75rem;

	a {		
		font-size: 0.75rem;
		text-transform: uppercase;
		line-height: $topbar-line-height;			

		&:hover {			
			font-weight: 700;
		}
	}
}