
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;
	
	.fbox-icon {
		display: block;
		
		img {
			display: block;
			height: 1.78rem;
		}
	}

	h4 {
		color: $topbar-color;
		font-weight: 600;
		line-height: $line-height-sm;
		margin-bottom: .6rem;
	}

	p {
		color: #9194ac;
		font-family: $body-font;
		font-weight: 300;
		line-height: $line-height-base;
		margin-bottom: 0;
	}
}

