
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	.logo-item {
		border: 1px solid #eaeaea;
		max-width: 24rem;
		height: 6.937rem;
		width: 100%;
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: auto;
		}
	}
} 